*,
::before,
::after {
  box-sizing: border-box;
}
/*Custom properties*/
:root {
  --clr-primary: #2584ff;
  --clr-secondary: #00d9ff;
  --clr-accent: #ff3400;
  --clr-heading: #1b0760;
  --clr-body: #918ca4;
}
/*Typography*/
html {
  font-size: 62.5%;
}
body {
  background: black;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.441rem;
}
.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  flex-grow: 1;
  width: 200px;
  object-fit: cover;
}
.menu__lists {
  display: flex;
  flex-direction: flex-end;
  justify-content: center;
  align-content: center;
}
.menu__list {
  padding: 1rem;
  flex-grow: 2;
}
.banner {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.description {
  padding: 1rem;
}
.heading {
  font-size: 5rem;
}
.btn {
  background: orangered;
  border: 0;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 2rem;
  margin: 2rem;
  color: #fff;
}
img {
  width: 400px;
  object-fit: cover;
}
