:root {
  --clr-primary: #2584ff;
  --clr-secondary: #00d9ff;
  --clr-accent: #ff3400;
  --clr-heading: #1b0760;
  --clr-body: #918ca4;
  --clr-btn: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*buttons*/

.btn {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;

  margin: 1rem 0;
  /*width: 200px;
  height: 60px;*/

  border: 0;
  outline: 0;
  border-radius: 30px;
  padding: 1rem;
  background: cadetblue;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}

.btn--primary {
  background: var(--clr-primary);
  color: var(--clr-btn);
}
.btn--primary:hover {
  background: #259cff;
}
.btn--secondary {
  background: var(--clr-secondary);
  color: var(--clr-btn);
}
.btn--secondary:hover {
  background: #00c0ff;
}

.btn--accent {
  background: #ff3400;
  color: var(--clr-btn);
}

.btn--accent:hover {
  background: #ff5500;
}

a {
  text-decoration: none;
}
.btn--block {
  /*margin: auto;*/
  width: 100%;
  display: inline-block;
}
.btn--outline {
  background: var(--clr-btn);
  color: var(--clr-heading);
  border: 2px solid var(--clr-heading);
}
.btn--block:hover {
  background: var(--clr-heading);
  color: var(--clr-btn);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
