<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/banner.css">
    <title>Moshify</title>
</head>
<body>
    <header>
        <nav class="nav-menu">
        <div class="logo"> 
            <img src="/images/logo.svg" alt="">
        </div>
        <div class="menu__lists">
            <div class="menu__list">Hosting</div>
            <div class="menu__list">Domain</div>
            <div class="menu__list">VSP</div>
            <div class="menu__list">Pricing</div>
        </div>
        </nav>
    </header>
    <main>
        <div class="banner">
            <div class="description">           
            <h1 class="heading">Cloud Hosting <br>for Pros</br></h1>
            <p>Deploy your website less than 60 seconds.</p>
            <button class="btn top__banner">get started</button>
            </div>
            <div class="image">
            <img src="/images/banner(1).png" alt="">
            </div>
        </div>
    </main>
</body>
</html>