<body>
    <div class="block container">
        <header class="block__header">
            <h2 class="block__heading">Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quod, maiores officia similique nostrum iure ut commodi repellendus distinctio odit!
            
            </p>
            
        </header>
        <!--card component--> 
 
         <div style="width: 30%; padding: 4 rem">
             <div class="card card--secondary">
             <header class="card__header">Card Title</header>
             <div class="card__body">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis atque repudiandae doloribus nulla, neque officia non praesentium itaque nam? Repellat.
 
             </div>
            
             </div>
        </div>
 
    </div>
 
    <div class=" block block__dark block--skewed-left ">
     <div class="container">
         <h2 class="block__heading">Heading</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quod, maiores officia similique nostrum iure ut commodi repellendus distinctio odit!
         
         </p>
     </div>
    </div>
 </body>