<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cards</title>
</head>
<body>
    <div class="card card--secondary" style="width: 70%">
        <div class="card__header">
            <div class="plan-name">entry</div>
            <div class="plan-basic">
                
                <h1 class="amount">$14</h1>
                <p class="duration">/month</p>
                <div class="badge">10% off</div>
            </div>
            <p class="text">easy start on the cloud</p>

        </div><!--/card__header-->
        <div class="card__body">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Rerum, provident?
        </div><!--/card__body-->

    </div><!--/card-->
</body>
</html>