<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/input-group.css">
    <title>Input</title>
</head>
<body>
    <div class="input-group">

        <input type="text" class="input" placeholder="Enter domain name here..."/>
        <div class="search-section">

            <span>
                <svg class="icon">
                    <use xlink: href="/images/sprite.svg#search"></use>
                </svg>
            </span> 
            <button class="btn btn--accent">search</button>
            
        </div>
    </div>
</body>
</html>