<html>
    <head>
        <title>Testimonial</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/style.css">

            <body style="padding: 5rem;">
                <div class="card testimonial">
                    <div class="grid grid--1x2">
            
                        <div class="testimonial__image">
                            <img src="/images/testimonial.jpg" alt="A Smiling, happy customer">
                            <span class="icon-container icon-container--accent">
                                <svg class="icon icon--white icon--small">
                                <use xlink: href="/images/sprite.svg#quotes"></use>
                            </svg>
                            </span>
                        </div>
                
                            <blockquote class="quote">
                                <p class="quote__text">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto pariatur,
                                    corrupti dolorem voluptate temporibus repellat magni? 
                                    Deserunt debitis magnam consequatur nihil mollitia veritatis tempore id neque, 
                                    perferendis natus, illo sint provident omnis minima vero laboriosam quod ad voluptatem blanditiis cumque!
                            
                                </p>
                            
                                <div class="media">
                                    <div class="media__image">
                                        <svg class="icon icon--primary quote__line">
                                            <use xlink: href="/images/sprite.svg#line"></use>
                                        </svg>
                                    </div> 
                                    <div class="media__body">
                                        <h3 class="media__title quote__author">Jhon Smith</h3>
                                    
                                        <p class="media__text quote__organisation">ABC Company</p>
                                    </div>
                                    
                                </div>
                            
                            </blockquote>
                       
                    </div>
                </div>
        </body>

    </head>
</html>