 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
     <title>Document</title>
 </head>
 <body>
    <ul class="list list--tick">
        <li class="list__item">unlimited Websites</li>
        <li class="list__item">Unlimited Bandwidth</li>
        <li class="list__item">100 GB SSD Storage</li>
        <li class="list__item">3 GB RAM</li>
    </ul> 
        
    </body>
    </html>